<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>default.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,50},{400,400}}</string>
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>

			<key>symbol1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{90,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,89}}</string>
				<key>sourceSize</key>
				<string>{90,89}</string>
			</dict>

			<key>symbol2.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,90},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,89}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>symbol3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,0},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>symbol4.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,401},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,88}}</string>
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>

			<key>symbol5.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,270},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>

			<key>symbol6.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,401},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>symbol7.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,401},{89,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,88}}</string>
				<key>sourceSize</key>
				<string>{89,88}</string>
			</dict>

			<key>symbol8.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,180},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,89}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>symbol9.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,401},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>